body{
  background: #efefef;
}

#btn{
  width: 200px;
  height: 200px;
  background: #107221;
  border-radius: 50%;
  margin: 30px auto;
  text-align: center;
  line-height: 200px;
  color: #fff;
  font-weight: bold;
  font-size: 21px;
  cursor: pointer;
  box-shadow: 0 10px 0 #107221;
  user-select: none;
}

#btn:hover{
  opacity: 0.9;
}

#btn:active{
  box-shadow: 0 5px 0 #107221;
  margin-top: 35px;
}